
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SKRIBLY - Gallery</title>
    <link href="{% static '/css/gallery.css'%}" rel="stylesheet">
   
</head>

<body>
	{% block content %}

    <div class="topnav">
        <a href="{% url 'index' %}"><i class="arrow left"></i>Back</a>
        <a href="{% url 'tutorial' %}">Tutorial</a>
        {% if user.email %}
        <a href="{% url 'profile' user=user %}">Profile</a>
        <a href="{% url 'canvas' %}">Workspace</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Sign-Up</a>
        {% endif %}
    </div>
    <br>
    
    <div>
    <form method="POST">
		{%csrf_token%} 
		{{ form.as_p }}
        <button class='sbtn' type="submit" placeholder="Search"> Search </button>	
        
    </form>
</div>
    <hr class="newline">
	
		{%for i in ComicStrips%}
        <div class="column" id="column" >
            <div class="card"  >
                <h2 id="h2"  >{{i.title}}</h2>
                <img class="posts" src="{{i.strip_image.url}}" alt="{{i.strip_image}}" style="width:100% ;height:200px" onclick="location.href='{% url 'comicpage' pk=i.pk title=i.title %}'">

                
                <div class="div1"> 
                    <button id="like"><img id="like_img" src="{% static 'images/thumbsc.jpg' %}" onclick="changelike(event)"></button>
                    <button id="fav"><img id="fav_img" src="{% static 'images/favo.png' %}" onclick="changefav(event)"></button>
                </div>

                <div class="container" style="font-family: cursive;">
                    <p class="title" style="margin-top: 0.01%;"><a href="{% url 'profile' i.user %}" style="color: white;">{{i.user}}</a></p>
                     {% for j in i.comments.all reversed %}
                       
                        <hr style="width:90%">

                    <div id='commentbox'> 
                        <p><img id='pic'class='pic' src="{{ j.user.artist.profile_picture.url }}" ></p>

                        <p id='cmnt_txt'>{{j.user}}: {{j.comment}} {% if j.edited %} edited {% endif %}</p>

                        <div id='pup' class="votes">
                            <img id='up' class='pic' src="{% static 'images/thumbsup.png' %}">
                            <p style="left:21.7vw">{{j.upvotes.count}}</p>
                        </div>

                        <div id='pdown' class="votes">
                            <img id='down' class='pic' src="{% static 'images/thumbsdown.jpg' %}">
                            <p style="left:23.7vw">{{j.downvotes.count}}</p>

                        </div>
                    </div>
                        
                    {% endfor %}
                    <div id="commentbox">
                        <form id="cmnt_txt" method="POST">
                                {%csrf_token%} 
                                    {{cform.comment}}
                                <button type="submit" id="fbtn">ADD</button>
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
		{% endfor %}
    {% endblock %}
   
</body>
<script>
    var t=document.getElementsByTagName("textarea");
    for(i=0;i<t.length;i++)
    {
        t[i].rows='1';
        t[i].cols='30';
        t[i].placeholder='Add a comment...';
        t[i].style.fontFamily='cursive';
        

    }

    function changefav(ev)
    {
        console.log(ev.target);
        ev.target.src="{% static 'images/favc.png' %}"
        
    }    
    function changelike(ev)
    {
        console.log(ev.target);
        ev.target.src="{% static 'images/like.png' %}"
        
    }    

    var title=document.getElementsByTagName("label");
    title[0].style.display="none";
    var ph=document.getElementById("id_title");
    ph.setAttribute("placeholder","Title");
    //ph.style.textAlign="center";
</script>

</html>